.Rproj.user
.Rhistory
.RData
.Ruserdata
_bookdown_files/
README.html
feedback/
*.log
*.synctex.gz
**.DS_Store
figures/.DS_Store
docs/main.tex
**.o
**.so
resources/
!docs/resources/
figures/naomi-aghq/nuts-big.rds
_main_cache/
_main_files/